*
{
    margin: 0;
    font-family: sans-serif;
}
body
{
    background-color: rgba(0, 0, 0, 0.94);
    color: white;
}
.tank
{
    display: flex;
    gap: 10px;
    align-items: center;

}
.tank1
{
    display: flex;
    gap: 10px;
    align-items: center;

}
.divimgs
{
    display: none;
}
.header
{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.img2
{
    width: 100%;
    height: 700px;
}
.cont
{
    background-color: #FF9549;
    padding: 10px;
    border-radius: 7px;
    color: black;
    width: 200px;
    text-align: center;
}
.innerimg
{
    margin-top: -500px;
    margin-left: 100px;
    font-size: 30px;
}
.first
{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    padding: 30px;
    background-color: #252C2C;
    border: 1px solid white;
    border-radius: 15px;
    margin: auto;

}
.sec3
{
    margin-top: 200px;
}
.boxs
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.boxic
{
    background-color: #252C2C;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
}
.htext2
{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.third
{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}
.inside1
{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.form
{
    
}
.cont1
{
    background-color: #FF9549;
    padding: 5px;
    border-radius: 7px;
    color: black;
    width: 250px;
    text-align: center;
}
.i285
{
    
}
.fullimg
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 20px;
}






@media (max-width: 510px){
    .tank1
    {
        display: none;
    }
    .divimgs
    {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .header
    {
        width: 100%;
    }
    .imgs
    {
        width: 40px;
        height: 40px;
    }
    .htext
    {
        font-size: 20px;
    }
    .ptext
    {
        display: none;
    }
    .sec2
    {
        width: 100%;
        height: 300px;
    }
    .img2
    {
        width: 100%;
        height: 300px;
    }
    .innerimg
    {
        margin-top: 0;
    }
    .first
    {
        display: none;
    }
    .sec3
    {
        margin-top: 500px;
    }
    .boxs
    {
        flex-direction: column;
        row-gap: 10px;
    }
    .htext2
    {
        font-size: 30px;
    }
    .sec4
    {
        margin-top: 50px;
    }
    .inside1
    {
        flex-direction: column;
        row-gap: 20px;
    }
    .img01
    {
        width: 250px;
        height: 200px;
    }
}